<!DOCTYPE html>

<html>

<head>
    <title>Weather App - About</title>
    <link rel = "stylesheet" href = "/css/styles.css">
    <link rel = "icon" href = "/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class = "aboutImage" src = "./img/robot.png">
    </div>

    {{>footer}}
</body>

</html>